.input {
  padding: 8px 12px;
  border: 1px solid #777777;
  border-radius: 6px;
  font-size: 16px;
  width: 100%;
  max-width: 300px;
  background-color: #fff;
  color: #000;
  box-sizing: border-box;
  margin: 0 auto;
}

.text {
  font-size: 24px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 16px;
  text-align: justify;
  color: #333;
}
