.contactContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 8px;
  border-radius: 8px;
  background-color: #f1f1f1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  gap: 30px;
  width: 100%;
}

.textBlock {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.info {
  display: flex;
  align-items: center;
  gap: 8px;
}

.text {
  margin: 0;
  font-size: 16px;
  color: #333;
}

.button {
  background-color: #868383;
  border: none;
  color: white;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  height: fit-content;
  transition: background-color 0.3s ease;
  margin-block: 8px;
}

.button:hover {
  background-color: #504e4e;
}
